<!DOCTYPE html>
<html ng-app="sweepstakeApp">
    <head>
        <meta charset="utf-8">
        <title>World Cup Sweepstake Generator</title>
        <link rel="stylesheet" href="lib/eden/eden.min.css">
    </head>
    <body>
        <header></header>
        <main ng-controller="sweepstakeController">
            <div class="container">
                <div class="players">
                    <p>Num of players: {{players.length}}</p>
                    <button class="button border" ng-click="addPlayer()">Add Player</button>
                    <input type="text" ng-repeat="i in [] | range:players.length" name="player{{i+1}}" ng-model="players[i]" class="border" placeholder="Name">
                </div>
                <p>{{players}}</p>
                <p>{{teams}}</p>
                <!-- <ul>
                    <li ng-repeat="team in teams">{{team}}</li>
                </ul> -->
                <button class="button" ng-click="generateSweepstake()">Randomise</button>
                <div class="results">
                    <p>{{split}}</p>
                </div>
            </div>
        </main>
        <footer></footer>

        <!-- Scripts -->
        <script src="lib/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <!-- Controllers -->
        <script src="app/controllers/sweepstakeController.js"></script>
    </body>
</html>
