<!DOCTYPE html>
<html ng-app="sweepstakeApp">
    <head>
        <meta charset="utf-8">
        <title>World Cup Sweepstake Generator</title>
        <link rel="stylesheet" href="lib/eden/eden.min.css">
    </head>
    <body>
        <header></header>
        <main ng-controller="sweepstakeController">
            <div class="container">
                <ul>
                    <li ng-repeat="x in wcTeams.teams">{{x.name}}</li>
                </ul>
                <button class="button" ng-click="getRandTeam()">Randomise</button>
                <p>{{randTeam}}</p>
            </div>
        </main>
        <footer></footer>

        <!-- Scripts -->
        <script src="lib/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <!-- Controllers -->
        <script src="app/controllers/sweepstakeController.js"></script>
    </body>
</html>
